extends layout

block content
  p From "Host Your Web Site in the Cloud: AWS Made Easy" by Jeff Barr

  ul
    li
      p.chapter Chapter 4: S3
        ul
          li
            a(href='/chapter_04/buckets')
              p List Buckets
          li
            a(href='/chapter_04/buckets/colinking-aws-cloud-book/objects')
              p List Objects (bucket: colinking-aws-cloud-book)
