extends layout

block content
  h1= title
  p From "Host Your Web Site in the Cloud: AWS Made Easy" by Jeff Barr
  
  ul
    li
      p.chapter Chapter 4: S3
        ul
          li
            a(href='/chapter_04/buckets')
              p List Buckets
